<div cdkDropListGroup>
  <div class="task-container">
    <app-title-column [status]="status"></app-title-column>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todo; track item) {
      <div class="task-box" cdkDrag>
        <app-task-item></app-task-item>
        {{ item }}
      </div>
      }
    </div>
  </div>

  <div class="task-container">
    <app-title-column [status]="status2"></app-title-column>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of done; track item) {
      <div class="task-box" cdkDrag>
        <app-task-item></app-task-item>
        {{ item }}
      </div>
      }
    </div>
  </div>
</div>
