.dashboard {
  padding: 20px;
}

.task-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.task-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  border: solid 1px #ccc;
  display: block;
  padding: 15px;
}

.task-box {
  display: flex;
  flex-direction: column;
  cursor: move;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 4px;
  --shadow-color: rgba(103, 80, 164, 0.5); /* Morado con opacidad */
  box-shadow: 0px 0px 7px var(--shadow-color);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #6750a4;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-box:last-child {
  margin-bottom: 5px;
}

.task-list.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
