.task-details {
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  color: gray;
  h3 {
    font-weight: 600;
    margin-bottom: 0px;
    letter-spacing: 1px;
  }
  p {
    margin-bottom: 0px;
  }
  .sub-tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    mat-form-field {
      margin-top: 20px;
    }
    .counter-tasks {
      font-weight: 500px;
    }
  }
}
